# Import Library

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load Data

In [5]:
stock_price = pd.read_csv('adjusted_stock_prices.csv')
stock_price

,Date,Ticker,OpenPrice,ClosePrice,LowPrice,HighPrice,Volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0
...,...,...,...,...,...,...,...
851259,2016-12-30,ZBH,103.309998,103.199997,102.849998,103.930000,973800.0
851260,2016-12-30,ZION,43.070000,43.040001,42.689999,43.310001,1938100.0
851261,2016-12-30,ZTS,53.639999,53.529999,53.270000,53.740002,1701200.0
851262,2016-12-30,AIV,44.730000,45.450001,44.410000,45.590000,1380900.0
851263,2016-12-30,FTV,54.200001,53.630001,53.389999,54.480000,705100.0

- Ticker:  Mã chứng khoán của công ty
- OpenPrice: Giá giao dịch đầu tiên của cổ phiếu khi thị trường mở cửa vào đầu phiên giao dịch.
- ClosePrice: Giá giao dịch cuối cùng của cổ phiếu khi thị trường đóng cửa vào cuối phiên giao dịch.
- Low Price (Giá thấp nhất): Mức giá thấp nhất mà cổ phiếu đạt được trong suốt phiên giao dịch.
- High Price (Giá cao nhất): Mức giá cao nhất mà cổ phiếu đạt được trong suốt phiên giao dịch.
- Volume (Khối lượng giao dịch): Tổng số lượng cổ phiếu được giao dịch trong suốt phiên giao dịch.

In [10]:
company_information = pd.read_csv('company_information.csv')
company_information

,Ticker,CompanyName,SEC_Filings,Sector,SubIndustry,HeadquartersAddress,DateAdded,CIK
0,MCO,Moody's Corp,reports,Financials,Diversified Financial Services,"New York, New York",NaN,1059556
1,HOLX,Hologic,reports,Health Care,Health Care Equipment,"Marlborough, Massachusetts",2016-03-30,859737
2,MRO,Marathon Oil Corp.,reports,Energy,Oil & Gas Exploration & Production,"Houston, Texas",1991-05-01,101778
3,A,Agilent Technologies Inc,reports,Health Care,Health Care Equipment,"Santa Clara, California",NaN,1090872
4,AKAM,Akamai Technologies Inc,reports,Information Technology,Internet Software & Services,"Cambridge, Massachusetts",2007-07-12,1086222
...,...,...,...,...,...,...,...,...
500,EBAY,eBay Inc.,reports,Information Technology,Internet Software & Services,"San Jose, California",NaN,1065088
501,ZBH,Zimmer Biomet Holdings,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",NaN,1136869
502,ENDP,Endo International,reports,Health Care,Pharmaceuticals,"Dublin, Ireland",2015-01-27,1100962
503,TMK,Torchmark Corp.,reports,Financials,Life & Health Insurance,"McKinney, Texas",1989-04-30,320335
504,JPM,JPMorgan Chase & Co.,reports,Financials,Banks,"New York, New York",1975-06-30,19617

- Ticker: Mã chứng khoán của công ty
- SEC_Filings: reports
- Sector: Ngành công nghiệp chính mà công ty hoạt động. Ví dụ: Technology (Công nghệ).
- SubIndustry: Ngành phụ hoặc lĩnh vực cụ thể hơn trong ngành công nghiệp chính. Ví dụ: Consumer Electronics (Điện tử tiêu dùng) có thể là một ngành phụ trong ngành Technology
- HeadquartersAddress: Địa chỉ trụ sở chính của công ty.
- DateAdded: Ngày mà công ty được thêm vào bảng hoặc danh sách, có thể là ngày bắt đầu niêm yết hoặc ngày mà thông tin công ty được cập nhật vào hệ thống.
- CIK (Central Index Key): Mã số chỉ mục trung tâm do SEC cấp, được sử dụng để định danh duy nhất mỗi công ty trong hệ thống lưu trữ tài liệu của SEC.

In [13]:
financial_metrics = pd.read_csv('financial_metrics.csv')
financial_metrics

,Ticker,PeriodEnd,AccPayable,AccReceivable,AdditionalIncomeExpense,AfterTaxROE,CapEx,CapSurplus,CashRatio,CashEquivalents,...,CurrentAssetsTotal,CurrentLiabilitiesTotal,TotalEquity,TotalLiabilities.1,LiabilitiesAndEquityTotal,TotalRevenue,TreasuryStock,FiscalYear,EPS,EstSharesOutstanding
0,NEE,2014-12-31,2.504000e+09,-7000000.0,408000000.0,12.0,-3.142000e+09,7.179000e+09,6.0,5.770000e+08,...,6.944000e+09,9.663000e+09,1.991600e+10,5.468900e+10,7.460500e+10,1.702100e+10,0.000000e+00,2014.0,5.67,4.347443e+08
1,MAC,2012-12-31,8.159820e+08,-3735000.0,222167000.0,11.0,-1.204061e+09,3.715895e+09,NaN,1.444510e+08,...,0.000000e+00,0.000000e+00,3.077529e+09,6.233680e+09,9.311209e+09,7.975170e+08,0.000000e+00,2012.0,2.51,1.344327e+08
2,FE,2013-12-31,2.086000e+09,-114000000.0,-99000000.0,3.0,-2.638000e+09,9.776000e+09,3.0,2.180000e+08,...,4.013000e+09,7.637000e+09,1.269200e+10,3.773200e+10,5.042400e+10,1.489200e+10,0.000000e+00,2013.0,0.94,4.170213e+08
3,IFF,2015-12-31,3.472970e+08,-91712000.0,-3184000.0,26.0,-1.010300e+08,1.408020e+08,25.0,1.819880e+08,...,1.455884e+09,7.421280e+08,1.590318e+09,2.126464e+09,3.716782e+09,3.023189e+09,-1.555769e+09,2015.0,5.19,8.077977e+07
4,MAS,2016-12-31,1.458000e+09,-120000000.0,6000000.0,165.0,-1.800000e+08,0.000000e+00,68.0,9.900000e+08,...,2.934000e+09,1.460000e+09,-2.980000e+08,5.435000e+09,5.137000e+09,7.357000e+09,0.000000e+00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1776,MUR,2013-12-31,2.558642e+09,0.0,77403000.0,13.0,-3.590344e+09,9.026330e+08,35.0,7.501550e+08,...,3.508643e+09,3.224031e+09,8.595730e+09,8.913754e+09,1.750948e+10,5.312686e+09,-7.327340e+08,2013.0,5.98,1.878717e+08
1777,COO,2015-10-31,1.842850e+08,-4528000.0,-3083000.0,8.0,-2.430230e+08,1.434705e+09,3.0,1.642600e+07,...,8.414280e+08,5.687820e+08,2.667509e+09,1.792355e+09,4.459864e+09,1.797060e+09,-3.601490e+08,NaN,NaN,NaN
1778,PGR,2012-12-31,1.855500e+09,-333300000.0,-1800000.0,15.0,-1.277000e+08,1.077000e+09,NaN,1.791000e+08,...,0.000000e+00,0.000000e+00,6.007000e+09,1.668770e+10,2.269470e+10,1.708390e+10,0.000000e+00,2012.0,1.50,6.015333e+08
1779,ATVI,2013-12-31,9.910000e+08,198000000.0,0.0,15.0,-7.400000e+07,9.682000e+09,185.0,4.410000e+09,...,6.241000e+09,2.405000e+09,6.622000e+09,7.390000e+09,1.401200e+10,4.583000e+09,-5.814000e+09,2013.0,0.96,1.052083e+09
1780,MAR,2012-12-31,1.314000e+09,0.0,59000000.0,44.0,-4.370000e+08,2.585000e+09,3.0,8.800000e+07,...,1.475000e+09,2.773000e+09,-1.285000e+09,7.627000e+09,6.342000e+09,1.181400e+10,-7.340000e+09,NaN,NaN,NaN

- PeriodEnd: Ngày kết thúc của kỳ báo cáo tài chính, thường là cuối năm hoặc cuối quý.
- AccPayable (Accounts Payable): Khoản nợ phải trả của công ty đối với các nhà cung cấp. Một mức cao có thể cho thấy công ty đang có nhiều nợ ngắn hạn, ảnh hưởng đến dòng tiền và có thể làm giảm niềm tin của nhà đầu tư.
- AccReceivable (Accounts Receivable):  Khoản phải thu từ khách hàng. Mức cao có thể cho thấy công ty bán hàng tốt, nhưng nếu quá cao có thể là dấu hiệu của việc khó thu hồi nợ.
- AdditionalIncomeExpense: Thu nhập hoặc chi phí khác ngoài hoạt động kinh doanh chính. Khoản này có thể ảnh hưởng đến lợi nhuận cuối cùng của công ty.
- AfterTaxROE (Return on Equity): Tỷ suất sinh lợi trên vốn chủ sở hữu sau thuế. Chỉ số này cao thường cho thấy công ty hoạt động hiệu quả, có thể làm tăng giá cổ phiếu.
- CapEx (Capital Expenditure):  Chi phí vốn đầu tư vào tài sản cố định. Mức CapEx cao có thể chỉ ra rằng công ty đang đầu tư vào mở rộng hoặc cải thiện cơ sở hạ tầng, điều này có thể tích cực hoặc tiêu cực tùy thuộc vào khả năng sinh lợi từ đầu tư đó.
- CapSurplus (Capital Surplus): Giá trị vốn thặng dư trên vốn cổ phần gốc. Thường phản ánh số tiền công ty thu được từ phát hành cổ phiếu trên giá trị danh nghĩa.
- CashRatio: Tỷ lệ tiền mặt của công ty so với các khoản nợ ngắn hạn. Tỷ lệ cao cho thấy công ty có khả năng thanh toán các khoản nợ ngắn hạn tốt hơn, có thể ảnh hưởng tích cực đến cổ phiếu.
- CashEquivalents: Tiền mặt và các tài sản tương đương tiền. Số dư cao cho thấy công ty có tính thanh khoản tốt, giúp giảm rủi ro tài chính.
- CurrentAssetsTotal: Tổng tài sản ngắn hạn. Tài sản ngắn hạn cao có thể cung cấp một lớp bảo vệ trong trường hợp các khoản nợ ngắn hạn tăng lên.
- CurrentLiabilitiesTotalz:  Tổng nợ ngắn hạn. Nếu nợ ngắn hạn quá cao, công ty có thể gặp khó khăn trong việc thanh toán nợ, điều này có thể ảnh hưởng xấu đến giá cổ phiếu.
- TotalEquity: Tổng vốn chủ sở hữu. Thể hiện giá trị tài sản ròng thuộc về các cổ đông sau khi tất cả các khoản nợ được thanh toán.
- TotalLiabilities: Tổng nợ phải trả. Một công ty có tổng nợ quá cao so với vốn chủ sở hữu có thể bị coi là rủi ro tài chính cao hơn.
- LiabilitiesAndEquityTotal: Tổng giá trị của nợ phải trả và vốn chủ sở hữu. Chỉ số này phải cân đối với tổng tài sản của công ty.
- TotalRevenue: Tổng doanh thu của công ty. Doanh thu cao thường là một dấu hiệu tích cực, cho thấy công ty có khả năng tạo ra doanh thu mạnh mẽ từ các hoạt động kinh doanh của mình.
- TreasuryStock: Cổ phiếu quỹ do công ty mua lại. Mua lại cổ phiếu có thể làm giảm số lượng cổ phiếu lưu hành, tăng EPS (thu nhập trên mỗi cổ phiếu) và làm tăng giá cổ phiếu.
- FiscalYear: Năm tài chính của dữ liệu
- EPS (Earnings Per Share): Thu nhập trên mỗi cổ phiếu. Chỉ số này càng cao càng tốt, cho thấy mỗi cổ phiếu đại diện cho một phần lợi nhuận lớn hơn.
- EstSharesOutstanding: Ước tính số cổ phiếu đang lưu hành. Số lượng cổ phiếu lưu hành tăng có thể làm loãng giá trị mỗi cổ phiếu.

# Clean Data